<div class="sign-in-container">
  <h1>Sign In</h1>
  <form [formGroup]="signInForm" (ngSubmit)="login()">
    <label>Email</label>
    <input type="email" formControlName="email" placeholder="Enter email">
    <div *ngIf="signInForm.get('email')?.invalid && signInForm.get('email')?.touched">
      <small>Email is required and should be valid.</small>
    </div>

    <label>Password</label>
    <input type="password" formControlName="password" placeholder="Enter password">
    <div *ngIf="signInForm.get('password')?.invalid && signInForm.get('password')?.touched">
      <small>Password is required.</small>
    </div>

    <button type="submit" [disabled]="signInForm.invalid">Sign In</button>
  </form>
</div>
