<p>prescription-modal-component works!</p>
<div class="modal-header">
    <h4 class="modal-title">Prescription</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">   

    <p>Patient Name: {{ patientData.name }}</p>
    <p>Prescription: {{ prescriptionData }}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close()">Close</button>
    <button (click)="openPrescriptionModal()">View Prescription</button>
  </div>