<div class="patient-details-page">
  
  <!-- Main Card for Patient Details -->
  <mat-card class="patient-card">
    <nav class="breadcrumb-container">
      <span class="breadcrumb" (click)="navigateToAppointments()">Physician Home</span> &gt; 
      <span class="breadcrumb-current">Appointment Details</span>
    </nav>
    <!-- <mat-card-header>
      <mat-card-title>{{ patient?.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="contact-info" style="padding-top: 20px;">
        <span>{{ patient?.email || 'Loading...' }}</span> | 
        <span>{{ patient?.phoneNumber || 'Loading...' }}</span>
      </div>

      <div class="patient-details">
        <p><strong>Age:</strong> {{ patient?.age }}</p>
        <p><strong>Gender:</strong> {{ patient?.gender }}</p>
        <p><strong>Occupation:</strong> {{ patient?.occupation }}</p>
        <p><strong>Chronic Conditions:</strong> {{ patient?.chronicConditions }}</p>
      </div> -->
    <mat-card-content>
      <mat-card class="main-card">
        <mat-card-subtitle class="main-card-subtitle">Patient Details</mat-card-subtitle>
        <div class="patient-page-card">
          <mat-card class="left-card">
            <mat-card-header>
              <mat-card-title>{{ patient?.name || 'Loading...' }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="contact-info" style="padding-top: 20px;">
                <span style="display: block;">{{ patient?.email || 'Loading...' }}</span>
                <span style="display: block;">{{ patient?.phoneNumber || 'Loading...' }}</span>
              </div>
            </mat-card-content>
          </mat-card>
      
          <mat-card class="right-card">
            <mat-card-content>
              <div class="patient-details">
                <p><strong>Age:</strong> {{ patient?.age }}</p>
                <p><strong>Gender:</strong> {{ patient?.gender }}</p>
                <p><strong>Occupation:</strong> {{ patient?.occupation }}</p>
                <p><strong>Chronic Conditions:</strong> {{ patient?.chronicConditions }}</p>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-card>

      <!-- Medical History as Table with Last Three Appointments -->
      <mat-card *ngIf="recentAppointments && recentAppointments.length > 0" class="medical-history-card">
        <mat-card-subtitle>Appointment History</mat-card-subtitle>
        <table mat-table [dataSource]="recentAppointments" class="mat-elevation-z8 history-table">
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let appointment"> {{ appointment.date | date }} </td>
          </ng-container>
          <ng-container matColumnDef="symptoms">
            <th mat-header-cell *matHeaderCellDef> Symptoms </th>
            <td mat-cell *matCellDef="let appointment"> {{ appointment.note.symptoms }} </td>
          </ng-container>
          <ng-container matColumnDef="diagnosis">
            <th mat-header-cell *matHeaderCellDef> Diagnosis </th>
            <td mat-cell *matCellDef="let appointment"> {{ appointment.note.diagnosis }} </td>
          </ng-container>
          <ng-container matColumnDef="prescriptions">
            <th mat-header-cell *matHeaderCellDef> Prescriptions </th>
            <td mat-cell *matCellDef="let appointment">
              <ul>
                <li *ngFor="let prescription of appointment.prescriptions">
                  {{ prescription }}
                </li>
              </ul>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </mat-card>

      <!-- Symptoms Section -->
      <mat-card class="symptoms-section">
        <mat-card-content>
          <label for="symptoms-textarea" class="symptoms-label">Get help from AI assistant:</label>
          <textarea id="symptoms-textarea" [(ngModel)]="symptoms" (input)="checkSymptomsInput()" #symptomstextarea placeholder="Describe the symptoms... let me help you with the diagnosis" class="styled-textarea"></textarea>
          <div class="button-group">
            <button mat-raised-button color="primary"  [disabled]="isGetSuggestionsButtonDisabled" (click)="getSuggestions(symptomstextarea.value)">Get Suggestions</button>
            <button mat-raised-button color="primary" (click)="openPrescriptionDialog()">Write Prescription</button>
          </div>
        </mat-card-content>
      </mat-card>

      <!-- LLM Suggestions Component -->
      <app-llm-suggestions [suggestions]="suggestions" *ngIf="suggestions"></app-llm-suggestions>
    </mat-card-content>
  </mat-card>
</div>
