<h2 class="title">Prescription Details</h2>
<div class="dialog-container">
<form [formGroup]="prescriptionForm">
  <div class="section">
    <h4>Appointment Notes</h4>
    <!-- <div class="form-group">
      <label for="appointmentId">Appointment ID*</label>
      <input type="text" id="appointmentId" formControlName="appointmentId" required>
    </div> -->

    <div class="form-group">
      <label for="symptoms">Symptoms*</label>
      <textarea id="symptoms" formControlName="symptoms" required></textarea>
    </div>

    <div class="form-group">
      <label for="diagnosis">Diagnosis*</label>
      <textarea id="diagnosis" formControlName="diagnosis" required></textarea>
    </div>

    <div class="form-group">
      <label for="additionalNotes">Additional Notes</label>
      <textarea id="additionalNotes" formControlName="additionalNotes"></textarea>
    </div>
  </div>

  <div class="section">
    <h4>Prescription</h4>
    <div *ngFor="let prescription of prescriptions.controls; let i = index" [formControlName]="i">
        <h4>Prescription {{ i + 1 }}</h4>
        <div class="form-group">
          <label for="medication-{{ i }}">Medication*</label>
          <input type="text" id="medication-{{ i }}" formControlName="medication" required />
        </div>
  
        <div class="form-group">
          <label for="dosage-{{ i }}">Dosage*</label>
          <input type="text" id="dosage-{{ i }}" formControlName="dosage" required />
        </div>
  
        <div class="form-group">
          <label for="duration-{{ i }}">Duration*</label>
          <input type="text" id="duration-{{ i }}" formControlName="duration" required />
        </div>
  
        <div class="form-group">
          <label for="frequency-{{ i }}">Frequency*</label>
          <input type="text" id="frequency-{{ i }}" formControlName="frequency" required />
        </div>
  
        <button type="button" (click)="removePrescription(i)">Remove Prescription</button>
      </div>
    </div>
  
    <button type="button" (click)="addPrescription()">Add Prescription</button>
    <button type="button"(click)="savePrescription()">Save Prescription</button>
  </form>
</div>