<div class="suggestions-section">
    <!-- Causes Section -->
    <mat-card class="suggestion-card">
      <mat-card-header>
        <mat-card-title>Possible Causes</mat-card-title>
      </mat-card-header>
      <mat-card-content *ngFor="let item of suggestions.likely_causes" >
        <div class="suggestion-item">
          <p><strong>Cause:</strong> {{ item.cause}}</p>
          <p><strong>Associated Symptoms:</strong> {{ item.symptoms}}</p>
        </div>
        <mat-divider></mat-divider>
      </mat-card-content>
    </mat-card>
  
    <!-- Lifestyle Changes Section -->
    <mat-card class="lifestyle-card">
      <mat-card-header>
        <mat-card-title>Lifestyle Changes</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ul>
          <li *ngFor="let item of suggestions.lifestyle_changes">{{item}}</li>
        </ul>
      </mat-card-content>
    </mat-card>
  
    <!-- Dietary Changes Section -->
    <mat-card class="dietary-card">
      <mat-card-header>
        <mat-card-title>Dietary Changes</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ul>
          <li *ngFor="let item of suggestions.dietary_changes">{{item}}</li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>
  